$darkened-blu: #F3EFDC;
$light-beige:#EAAA1B;
$footer:#F8C126;
$Title:#593034;
 .about{
    // background: #FAF8F4;
    padding: 11% 0;
  }
  .about__centr{
    margin-top: 50px;
    width: 140%;
    position: relative;
    left: -20%;
  }
    .about__title{
        text-align: center;
        margin: 50px 0;
       
    }
    .about__descr{
        width: 50%;
        text-align:center;
        font-size: 16px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        img{
          width: 26%;
          height: 100%;
        }
       
        p{
          color: $Title;
          padding: 20px 0;
          margin: 20px 0;
          width: 40%;
          text-align: left;
        }
        h2{
          color: $Title;
        }
        a{
          position: relative;
          width: 7%;
          height: 7%;
          font-size: 20px;
          position: absolute;
          left: 21%;
          top: 95%;
      
        p{
        position: absolute;
        left: 51%;
        top: -130%;
        transform: translate(-50%,1%);
        margin: 0;
        width: 100%;
        text-align: center;
        font-family: 'font/FiraGO-Medium.otf';
        }
         
        }
    }
    .about__seemore{
      width: 11%;
      height: 11%; // 238px
      text-align: center;
      z-index: 50;
      background: url(../../icons/svg-06.svg) center center/cover no-repeat;
      background-size:15%;
      background: #EAAA1B;
      border-radius: 30px;
      left: 6%;
    top: 84%;
    transform: translate(-50%, -50%);
    }
    .seemore{
      background: #EAAA1B;
      border-radius: 30px;
      transform: translate(-50%, 90%);
      display: block;
      width: 6%;
      top: 50%;
      position: relative;
      left: 50%;
      height: 30px;
       
    }
    .about__img{
    //   background:url(../img/417341120_1076876293362603_5358255752445162457_n.jpg)  49% 19% no-repeat; 
    // background-size: 160%;
    // background-color: #FAF8F4;
    // position: relative;
    img{
      width: 100%;
      margin-top:9px ;
      
    }
    }
// about. htiml 
.about_us__title{
  position: relative;
margin: 50px auto;
  text-align: center;
  color:$Title;
  p{
    color:$Title;
    font-size: larger;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  img{
    width: 2%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 80%;
    left: 50%;
  }
  h2{
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  }
}

  .about_us__itom {
    background: url(../../images/Free_Wine_Bottle_Mockup_1.webp) center center/cover no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    padding-bottom: 30px;
}

.about_us__text {
  background: $Title;
  width: 40%;
  height: 80%;
  padding: 30px;
  p{
color: $light-beige;
width: 74%;
margin: 2px auto;
padding: 10px;
  }
  h4{
color: $light-beige;
  }
}
.about_us__imfo{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 40px;
  position: relative;
}
  

  .about_us__info_titile{
    width: 34%;
    height: 200px;
    margin: 60px 0;
    p{
      color:$Title;
    }
    h5{
      color:$Title;
    }
  }
  .about_us__info__icons{
    width: 20%;
    // position: absolute;
    // top: 50%;
    // left: 59%;
  }
  .about_us__info_img{
    
      width: 100%;
      height: 50px;
      position: relative;
      // left: -15%;
      margin-bottom: 21px;
      margin-top: 21px;
  
    img{
      width: 10%;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 17%;
      transform: translate(-50%,-50%);
    }
  }
  .promo__img{
    background: url(../images/bluetie2-24.webp)  no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 17em; 
    max-height:440px;
    // min-height:350px ;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 59% 77%, 50% 100%, 41% 77%, 0 77%);
  }





      // .container {
      //       position: relative;
      //       width: 200px; /* Ширина изображения */
      //   }

      //   .image {
      //       display: block;
      //       width: 100%;
      //   }

        .popup__about {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            padding: 10px;
            z-index: 1;
            width: 150px;
        }

        .popup-right {
          top: 77%;
          right: -8%;
            transform: translate(0, -50%);
        }

        .popup-left {
          top: 77%;
          right: 10%;
            transform: translate(0, -50%);
        }

        .hover-right {
            position: absolute;
            top: 66%;
            right: 0;
            width: 9%;
            height: 24%;
            cursor: pointer;
        }

        .hover-left {
            position: absolute;
            top: 66%;
            left: 81%;
            width: 10%;
            height: 24%;
            cursor: pointer;
        }

        .hover-right:hover + .popup-right,
        .hover-left:hover + .popup-left {
            display: block;
        }