/* Стили для галереи */
$darkened-blu: #F3EFDC;
$light-beige:#EAAA1B;
$footer:#F8C126;
$Title:#593034;
#Gallery{
  margin-bottom: 80px;
}

.numbered-list {
  list-style: none; /* Убираем стандартные маркеры */
  counter-reset: list-counter; /* Сбрасываем счетчик */
  text{
    color: $footer;
  }
}

.numbered-list li {
  counter-increment: list-counter; /* Увеличиваем счетчик для каждого элемента */
  position: relative;
  margin-left: 20px;
}

.numbered-list li::before {
  content: counter(list-counter) "."; /* Подставляем текущий номер */
  position: absolute;
  left: -20px; /* Сдвигаем номер влево */
  font-weight: bold;
  color: $footer;
}
.catalog-item__price_width{
  span{
        display: flex;
        width: 100%;
        height: 4px;
        background: $footer;
    
  }
}

.title{
  position: relative;
    top: 50%;
    height: 50%;
    transform: translate(0%, 192%);
    /* color: black; */
    // background: black;
    margin: 53px 5px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    
}
// #gallery{
//     background-color: #FAF8F4;
// }
.gallery-image {
    width: 100%;
    height: 217px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}
.gallery__title{
    text-align: center;
    padding: 16px;
    position: relative;
    top: 200px;
    

}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Черный полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Выше других элементов на странице */
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Стили для полноэкранного режима */
.gallery__itom{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
.catalog {
    padding-top: 100px;
    perspective: 100px;
    margin-bottom:80px ;
    &__tabs {
     
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background:$light-beige ;
        border-radius: 30px;
    }
    &__tab {
        height: 50px;
        // border: 2px solid #d0d0d0;
        // color: #6b6b6b;
        text-align: center;
        background:$light-beige ;
        cursor: pointer;
        transition: 0.5s all;

        p{
            // margin: 15px auto;
            line-height: 3;
            color: $Title;
        }
        // &:hover {
        //   clip-path: polygon(0 0, 100% 0, 100% 92%, 59% 92%, 50% 100%, 41% 92%, 0 92%);
        // }
        div {
            transform: skewX(0deg);
        }
        &_active {
            color: #fff;
          //  background-color:#5ca96b;
            border: none;
            position: relative;
            // clip-path: polygon(50% 0, 0 100%, 100% 100%);
            &::before {
              content: "";
              position: absolute;
              bottom: -40px; /* Расположение треугольника */
              left: 50%;
              transform: translateX(-50%);
              border-width: 20px; /* Размер треугольника */
              border-style: solid;
              border-color: #EAAA1B transparent transparent transparent; /* Цвет треугольника */
              
            }
            
        }
    }
    &__content {
        perspective: 5000px;
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        &_active {
           
               display: flex;
               align-content: center;
               justify-content: center;
               align-items: center;
           
        }
    }
    &-item {
        
        // overflow: hidden;
        margin:0 auto ;
        width: 100%;

        // &:hover{
          
        //    transform: translate3d(-2px, -10px, 0px);
        //   transition: 0.5s all; 
        // }
    }}
    .fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
   
    .catalog-item__price_width{
      margin-left: 25px;
      p{
        color: #593034;
      }
      h6{
        color: #F8C126;
      }
      ul{
        ::marker{
          color: #f8b400;
        }
        p{
          font-size: 15px;
          color: #f8b400;
        }
      }
    }
    .close-button,
    .arrow {
      position: absolute;
      color: #fff;
      font-size: 36px;
      cursor: pointer;
    }

    .close-button {
      top: 10px;
      right: 10px;
    }

    .arrow.left {
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }

    .arrow.right {
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }

    .fullscreen-image {
      max-width: 90%;
      max-height: 90%;
    }

    #fullscreenGallery {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
      }
  
      #fullscreenGallery img {
        display: block;
        margin: auto;
        max-width: 80%;
        max-height: 80%;
        margin-top: 5%;
      }
  
      #closeFullscreenBtn {
        position: absolute;
        top: 28%;
        right: 23%;
        color: #fff;
        cursor: pointer;
        font-size: 24px;
      }
      
    #fullscreenGallery {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
      }
  
      #fullscreenGallery img {
        display: block;
        margin: auto;
        max-width: 80%;
        max-height: 80%;
        margin-top: 5%;
      }
  
      #closeFullscreenBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        cursor: pointer;
        font-size: 24px;
      }
  
      .gallery-arrow {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        border-radius: 50%;
        transform: translateY(-50%);
      }
  
      #prevArrow {
        left: 20px;
      }
  
      #nextArrow {
        right: 20px;
      }

      .Gallery__dscr{
        text-align: center;
        padding-bottom: 60px;
        margin-bottom: 60px;
        margin-top: 60px;
        padding-top: 60px;
        // position: relative;
        
        // top: -100px;
       
    }
    
      
    .Product{
      text-align: center;
      // position: relative;
      // top: 50%;
      p{
        position: relative;
        top: 50%;
        width: 60%;
        text-align: center;
      }
      h4{
        position: relative;
        top: 50%;
      }
    }
    .catalog-item_galeria{
      width: 30%;
    }


    