$darkened-blu: #F3EFDC;
$light-beige:#EAAA1B;
$footer:#F8C126;
$Title:#593034;
.header{
    // position: sticky;
    // top: 15px;
     z-index: 100;
    background-color:$darkened-blu;
    height: 150px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 3ms;
    z-index: 100;
    width: 100%;
    height: 150px;
    background-color:$darkened-blu;
   
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
   
    }
    .cirkul{
    
      background: $darkened-blu;
      width: 23%;
      height: 42%;
      position: fixed;
      top: -7%;
      left: 835px;
      left: 44%;
      width: 255px; /* Ширина круга */
      height: 255px; /* Высота круга */
      border: 10px; /* Цвет и толщина обводки */
      border-radius: 50%; /* Скругляем углы, чтобы получить круг */
       /* Цвет фона внутри круга */
    }
    #header{
      z-index: 100;
      // width: 100%;
      // height: 150px;
      background-color:$darkened-blu;
      position: fixed;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      top: 0;
    left: 0;
    right: 0;
    
    }
  
  .logo{
   
      img{
        width: 83%;
        position: relative;
        top: 100%;
        transform: translateY(-50%);
    
      }}
  .navbar{
      
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: #fffffff9;
      padding: 0;
      position: sticky;
     left: 0px;
      z-index: 5;
     width: 100%;
     font-family: 'BPG Mrgvlovani Caps 2010';

      a{
          text-decoration: none;
          color: inherit;
          position: relative;
          top: 2px;
      }
   }
   
  .menu__line {
    font-size: 19px;
    text-decoration: none;
    text-align: center;
    background: url(../icons/svg-06.svg) no-repeat;
    background-size: 70%;
    background-position: center;
    position: relative;
  }
   
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: $darkened-blu;
    color: $Title; /* Цвет текста как у логотипа */
    /* padding: 10px 20px; */
    font-size: 14px; /* Увеличен размер шрифта */
    font-weight: bold;
    text-align: center;
    border: 2px solid #f4e3b2;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    width: 34px;
    height: 34px;
    justify-content: center;
  }
  
  .dropbtn span {
    margin-left: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $darkened-blu;
    min-width: 34px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid $Title;
    z-index: 1;
  }
  



  .dropdown-content a {
    
    /* padding: 10px 16px; */
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #34495e; /* Изменение фона при наведении */
  }
  
  .menu__line:hover::before {
      opacity: 1;
  }
   
   .list{
  margin: 4% 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    align-items: end;
    position: relative;
    left: 15px;
   }
   a{
    h6{
      top: 4px;
      position: relative; 
    }
   }

  .button_mini{
      position: relative;
       top: -2px;
      width: 100%;
      left: 90px;
            z-index: 15;
  }
      .menu{
          margin:-15px auto;
          text-align: center;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 77%;
      
          
      }
      #switch-lang{
          height: 30px;
          width: 30px;
          color: $Title;
          border: solid  #e3dbb7 2px;
          a{
            top: -1px;
            left: -1px;
          }
      }
      .menu_link{
          margin-top: 3px;
          
      }
      .hamburger {
          display: none;
          
        }
        .menu_item{
          width: 100%;
          height: 33px;
          position: relative;
          top: -17%;
        }
        .menu_item_home{
            grid-column: 2;
            position: relative;
            z-index: 15;
           }
           .menu_item_about{
            grid-column: 4;
            position: relative;
            z-index: 15;
           }
           .menu_item_servise{
            grid-column: 6;
            position: relative;
            z-index: 15;
           }
           .menu_item_product{
            grid-column: 14;
            position: relative;
            z-index: 15;
            
           }
           .menu_item_footer{
            grid-column: 18;
            position: relative;
            z-index: 15;
           }
           .menu_item_news{
            grid-column: 16;
            position: relative;
            z-index: 15;
            
           }
          .logo_smol{
            display: none;
          }



         
          
          .active {
            top: -100%;
          }
       
          // popup
          
               #popup{
                display: none;
               }
        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.9);
          z-index: 999;
          display: flex;
          justify-content: center;
          align-items: center;
          
      }

      /* Стили для самого всплывающего окна */
      .popup {
           background: url(../../images/bluetie-25.webp) no-repeat;
           background-size: cover;
           background-position: center;
          padding: 20px;
          border-radius: 10px;
          text-align: center;
          width: 38%;
          height: 400px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          position: relative;
      }

      /* Стили для текста и кнопок */
      .popup h2 {
          margin: 0;
          font-size: 24px;
          color: #fff;
      }

      .popup h3 {
          font-size: 20px;
          color: #fff;
          margin: 10px 0;
      }

  
      .popup .yes-btn {
         
          color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
      }

      .popup .no-btn {
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          cursor: pointer;
      }
      .popup__line{
          width: 50%;
          
      }
      .popup img{
          width: 7%;
      }
  .popup_itom{
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
  }